---
import DragScreen2 from "@/components/DragScreen/DragScreen2";
import ImageHd from "@/assets/story/scene4/drag2_hd.webp";
import Layout from "@/layouts/Layout.astro";
import Preload from "@/assets/story/scene4/1_Image_LowRes.webp";
---

<Layout preloadImages={[Preload]}>
  <div class="scrollbar-none absolute inset-0 overflow-auto">
    <DragScreen2 redirectUrl="/story/scene4/4-2" ImageHd={ImageHd} client:load>
      {/* TODO: add content here */}
    </DragScreen2>
  </div>
  <div class="fixed inset-0 -z-50 bg-black"></div>
</Layout>
