---
import BGstar from "@/assets/landing/bg.webp";
import BGstarAnimated from "@/assets/landing/bg-animate.webp";
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import whatisbg from "@/assets/whatisgearfest/bgwhatis.svg";
import whatisgearfest from "@/assets/whatisgearfest/whatisgearfest.svg";
import topbg from "@/assets/whatisgearfest/topbg.svg";
import Navbar from "../../components/Navbar/Navbar";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<ImagePageLayout
  title="What is Gear Festival?"
  imageLowRes={BGstar}
  image={whatisbg}
  backgroundColor="#fff"
  containerClass="h-auto"
>
  <div
    class="absolute inset-0 flex flex-col items-center justify-between"
    style={"background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.4%, rgba(226, 199, 232, 0.18) 91%, rgba(239, 182, 200, 0.2) 96%);"}
  >
    <Navbar className="" client:load />
    <div class="mt-20 flex h-full w-full flex-col">
      <div
        class="mercy-font text-center text-lg text-white"
        style="text-shadow: 0 0 5px #fff, 0 0 10px #fff;"
      >
        What is gear festival?
      </div>
      <div class="taviraj-font p-5 text-center text-sm text-white">
        Gear Festival เป็นงานเทศกาลดนตรีเพื่อการกุศล
        ที่จัดโดยคณะวิศวกรรมศาสตร์จุฬาลงกรณ์มหาวิทยาลัย และมหาวิทยาลัยธรรมศาสตร์
      </div>
      <div class="taviraj-font px-5 text-center text-sm text-white">
        ในงานของเราจะมีบูธกิจกรรม โซนจัดแสดง ร้านค้ามากมาย
        และคอนเสิร์ตสุดพิเศษที่ตั้งใจเตรียมมาเพื่องานนี้โดยเฉพาะ
      </div>
      <div
        class="mercy-font absolute top-[32%] left-[2rem] text-lg text-white"
        style="text-shadow: 0 0 5px #fff, 0 0 10px #fff; "
      >
        What We Get?
      </div>
      <div
        class="taviraj-font absolute top-[37%] right-[8rem] text-base text-[#7065A4]"
      >
        ได้เป็นผู้รับ
      </div>
      <div
        class="taviraj-font absolute top-[39%] right-[4rem] w-48 text-center text-xs text-[#7065A4]"
      >
        ผ่านการชมงานดนตรีและศิลปะ ทั้งจากนิสิต นักศึกษา และศิลปินสุดพิเศษ
      </div>
      <div
        class="taviraj-font absolute top-[44%] left-[8rem] text-base text-[#7065A4]"
      >
        ได้เป็นผู้ให้
      </div>
      <div
        class="taviraj-font absolute top-[46%] left-[4rem] w-48 text-center text-xs text-[#7065A4]"
      >
        ร่วมแบ่งปันความสุข และรอยยิ้มให้กับผู้อื่นภายในงานการกุศล
        กำไรทั้งหมดที่ได้รับจากงานนี้ จะถูกนำไปบริจาคให้กับ
        โรงเรียนบ้านต้นผึ้งอำเภอแม่ริม จังหวัดเชียงใหม่
      </div>
      <div class="taviraj-font absolute top-[54%] right-[6rem] text-[#7065A4]">
        ได้เป็นผู้ให้
      </div>
      <div
      class="taviraj-font absolute top-[56%] right-[2.5rem] w-48 text-center text-xs text-[#7065A4]"
    >
    ค้นหา และเก็บเกี่ยวตัวตนที่หล่นหายไป ผ่านการเล่นกิจกรรมต่าง ๆ ภายในงาน
    </div>
    <div class="taviraj-font absolute top-[62%] left-[11rem] text-[#7065A4]">
      ได้ค้นพบ
    </div>
    <div
    class="taviraj-font absolute top-[64%] left-[6.5rem] w-48 text-center text-xs text-[#7065A4]"
  >
  ค้นหา และเก็บเกี่ยวตัวตนที่หล่นหายไป ผ่านการเล่นกิจกรรมต่าง ๆ ภายในงาน
  </div>
    </div>

    <div
      class="absolute bottom-0 mb-5 flex h-10 w-full items-center justify-between"
    >
      <div class="font-mercy p-3 font-bold text-[#433D8B]">
        {"<< Starboard"}
      </div>
      <div class="p-3 font-bold text-[#433D8B]">{"Donation >>"}</div>
    </div>
  </div>
</ImagePageLayout>
