---
import ContinueButton from "@/components/ContinueButton/ContinueButton";
import PreloadImage from "@/assets/story/scene4/0Intro_oneshot_hd.webp";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Gear Festival 2025"
  >'
  <div class="absolute inset-0 z-0 bg-white">
    <link
      rel="preload"
      href={PreloadImage.src}
      as="image"
      fetchpriority="high"
      slot="head"
    />
    <ContinueButton
      delay={3}
      color="black"
      redirectUrl="/story/scene4/4-1"
      position="right"
      client:load
    />
  </div>
  <div class="fixed inset-0 -z-50 bg-black"></div>
</Layout>
