---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import ImageHd from "@/assets/result/ChallengerBG_hd.webp";
import ImageLowRes from "@/assets/result/ChallengerBG_Image_LowRes.webp";
import Orb from "@/assets/result/Challenger.png";
import GearFest from "@/assets/landing/gearfest.svg";
import ESC from "@/assets/landing/esc.svg";
import KNEng from "@/assets/landing/kneng.svg";
import { Image } from "astro:assets";
---

<ImagePageLayout
  title="Gear Festival 2025"
  image={ImageHd}
  imageLowRes={ImageLowRes}
>
  <div
    class="absolute top-0 right-0 left-0 flex flex-col items-center"
    style={{ backgroundImage: `url(${ImageHd.src})` }}
  >
    <a class="cursor-pointer" href="/">
      <GearFest width={100} height={100} /></a
    >
    <Image src={Orb} alt="Achiever Orb" />
    <div class="font-petit max-w-[366px] text-center text-sm text-white">
      <p class="mb-5">
        “ It is better to fail in originality <br /> than to succeed in imitation
        ”
      </p>
      <div
        style={{
          textShadow: "0px 4px 4px rgba(0, 0, 0, 0.35)",
          background: "rgba(255, 255, 255, 0.1)",
        }}
        class="font-taviraj relative mb-6 flex h-[313px] w-[366px] flex-col items-center justify-center gap-[14px] rounded-xl bg-white text-[12px] font-medium text-white"
      >
        <p class="italic">
          คุณได้รับโหลดาวที่ถูกบรรจุด้วยค่ายพักแรมแห่งความท้าทาย <br
          />ค่ายพักแรมที่ตั้งอยู่บนภูเขาหินสูงชัน ท่ามกลางเส้นทางที่เต็มไปด้วย<br
          />
          ขวากหนาม เป็นที่พำนักของผู้บุกเบิก และไม่ว่าจะเผชิญสถานการณ์ใด<br />
          ก็ไม่หวั่นเกรงต่อเรื่องที่พบเจอ
        </p>
        <p>
          ตัวตนของคุณเปรียบเสมือนค่ายพักแรมแห่งนี้ คุณเป็นคนมีความมั่นใจ <br
          />กล้าคิด กล้าทำ กล้าตัดสินใจ คุณพร้อมที่จะต่อสู้ในสิ่งที่ตัวเองเชื่อ<br
          />
          และมีความเป็นผู้นำสูง คุณมีความแข็งแกร่งในตัวเอง<br />
          จนบางทีคุณอาจเผลอสร้างแรงกดดันให้กับผู้อื่นโดยไม่รู้ตัว
        </p>
        <p>
          ดวงดาวดวงนี้จึงอยากจะฝากข้อความถึงคุณว่า คุณอ่อนแอได้นะ<br />
          คุณไม่จำเป็นต้องเข้มแข็งเสมอไป อย่าลืมที่จะคุยกับตัวเองเยอะๆ<br />
          คุณเป็นคนเก่ง และเป็นแรงบันดาลใจให้กับผู้คนมากมาย<br />
          <span class="font-semibold"
            >แต่การเป็นผู้นำไม่ได้หมายความว่าคุณต้องเดินเพียงลำพัง</span
          ><br />
          ลองพาผู้อื่นก้าวไปข้างหน้าพร้อมกับคุณด้วย
        </p>
      </div>
      <div class="font-baskervville mb-6 flex w-full max-w-[366px] gap-2">
        <a
          download
          href="/src/assets/result_save/Challenger.png"
          class="w-full cursor-pointer px-3 py-2.5 text-[#faf8f5] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#807E8E",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 0px 24px -4px rgba(255, 255, 255, 0.48)",
            borderRadius: "8px",
          }}
          >Save picture
        </a>
        <a
          href="/starboard"
          class="w-full cursor-pointer px-3 py-2.5 text-[#17153b] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#FAF8F5",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 16px 32px -4px rgba(12, 12, 13, 0.1)",
            borderRadius: "8px",
          }}>Visit Star Board</a
        >
      </div>
      <p class="font-baskervville mb-3 text-base">gearfest2025.com</p>
      <div class="flex w-full items-center justify-center gap-2">
        <ESC width={37} height={44} />
        <KNEng width={37} height={37} />
      </div>
    </div>
  </div>
</ImagePageLayout>
