---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import ImageHd from "@/assets/result/LoyalistBG_hd.webp";
import ImageLowRes from "@/assets/result/LoyalistBG_Image_LowRes.webp";
import Orb from "@/assets/result/Loyalist.png";
import GearFest from "@/assets/landing/gearfest.svg";
import ESC from "@/assets/landing/esc.svg";
import KNEng from "@/assets/landing/kneng.svg";
import { Image } from "astro:assets";
---

<ImagePageLayout
  title="Gear Festival 2025"
  image={ImageHd}
  imageLowRes={ImageLowRes}
>
  <div
    class="absolute top-0 right-0 left-0 flex flex-col items-center"
    style={{ backgroundImage: `url(${ImageHd.src})` }}
  >
    <a class="cursor-pointer" href="/">
      <GearFest width={100} height={100} /></a
    >
    <Image src={Orb} alt="Achiever Orb" />
    <div class="font-petit max-w-[366px] text-center text-sm text-white">
      <p class="mb-5 text-[13px]">
        " Faith is taking the first step even when you don't <br /> see the whole
        staircase." - Martin Luther King Jr
      </p>
      <div
        style={{
          textShadow: "0px 4px 4px rgba(0, 0, 0, 0.35)",
          background: "rgba(255, 255, 255, 0.1)",
        }}
        class="font-taviraj relative mb-6 flex h-[313px] w-[366px] flex-col items-center justify-center gap-[14px] rounded-xl bg-white text-[12px] font-medium text-white"
      >
        <p class="italic">
          คุณได้รับโหลดาวที่ถูกบรรจุด้วยป้อมพิทักษ์การณ์<br />
          ป้อมปราการที่เปรียบดั่งผู้พิทักษ์อันแข็งแกร่ง แสดงถึงความจงรักภักดี<br
          />
          ที่ไม่มีวันเสื่อมคลาย ตรงกลางปรากฎโล่และดาบที่พร้อมจะ<br />
          ป้องกันและฝ่าฟันอุปสรรคต่างๆ เพื่อสิ่งที่เขารัก
        </p>
        <p>
          ตัวตนของคุณเปรียบเสมือนป้อมปราการแห่งนี้<br />
          คุณแสวงหาความมั่นคงและความปลอดภัยในชีวิต คุณมีความจงรักภักดี<br />
          ต่อคนที่คุณไว้วางใจ และต้องการได้รับความเชื่อมั่นจากผู้คนรอบตัว<br />
          คุณมักจะกังวลใจเมื่อเผชิญกับสถานการณ์ที่ไม่แน่นอน<br />
          และพยายามหลีกเลี่ยงความขัดแย้ง
        </p>
        <p>
          ดวงดาวดวงนี้จึงอยากจะฝากข้อความถึงคุณว่า<br />
          คุณเก่งและเข้มแข็งกว่าที่คุณคิด <span class="font-semibold"
            >ความกลัวอาจทำให้คุณลังเล<br />
            แต่เชื่อเถอะว่าคุณมีพลังมากพอที่จะก้าวผ่านทุกสิ่งที่อยู่ตรงหน้า</span
          ><br />
          ไปได้อย่างปลอดภัย คุณไม่ได้ต่อสู้อยู่เพียงลำพัง<br />
          ยังมีคนที่พร้อมจะยืนเคียงข้างคุณเสมอ
        </p>
      </div>
      <div class="font-baskervville mb-6 flex w-full max-w-[366px] gap-2">
        <a
          download
          href="/src/assets/result_save/Loyalist.png"
          class="w-full cursor-pointer px-3 py-2.5 text-[#faf8f5] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#807E8E",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 0px 24px -4px rgba(255, 255, 255, 0.48)",
            borderRadius: "8px",
          }}
          >Save picture
        </a>
        <a
          href="/starboard"
          class="w-full cursor-pointer px-3 py-2.5 text-[#17153b] transition-all duration-300 hover:scale-110 active:scale-105"
          style={{
            background: "#FAF8F5",
            boxShadow:
              "0px 0px 12px rgba(255, 255, 255, 0.48), inset 0px 16px 32px -4px rgba(12, 12, 13, 0.1)",
            borderRadius: "8px",
          }}>Visit Star Board</a
        >
      </div>
      <p class="font-baskervville mb-3 text-base">gearfest2025.com</p>
      <div class="flex w-full items-center justify-center gap-2">
        <ESC width={37} height={44} />
        <KNEng width={37} height={37} />
      </div>
    </div>
  </div>
</ImagePageLayout>
