@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Judson:ital,wght@0,400;0,700;1,400&family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import "tailwindcss";
@theme {
  --font-judson: "Judson", serif;
  --font-mitr: "Mitr", serif;
  --font-italiana: "Italiana", serif;
}
