---
import Layout from "@/layouts/Layout.astro";
import CalculateResult from "@/components/CalculateResult";
---

<Layout title="Gear Festival 2025">
  <div
    class="font-mitr flex w-full flex-col items-center justify-center gap-6 text-center text-lg text-white"
  >
    <h1 class="text-4xl">Credits</h1>
    <h2>Created By:</h2>
    <div>
      <h3 class="text-white">Project Manager</h3>
      <p class="text-base font-light">Nene WassaP</p>
    </div>
    <div>
      <h3 class="text-white">Story</h3>
      <p class="text-base font-light">Content Gear Festival</p>
    </div>
    <div>
      <h3 class="text-white">Art & Animation</h3>
      <p class="text-base font-light">Nene WassaP, MemeeP, gift</p>
    </div>
    <div>
      <h3 class="text-white">UX/UI</h3>
      <p class="text-base font-light">poxsitaa, @nair, Yiwah, gincole</p>
    </div>
    <div>
      <h3 class="text-white">Developer</h3>
      <p class="text-base font-light">
        ต้นน้ำนอนน้อย , ปันปัน , อันอัน , โอห์มเทพซ่า
      </p>
    </div>
    <div>
      <h3 class="text-white">Music</h3>
      <p class="text-base font-light">tent achita, JChet</p>
    </div>
    <div>
      <h3 class="text-white">Project Consultant</h3>
      <p class="text-base font-light">yyangg , ploy_warit</p>
    </div>

    <p>And Gear Festival Family</p>
  </div>
</Layout>
<div class="fixed inset-0 -z-50 bg-black"></div>
