---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import Image from "@/assets/story/scene6/3_loop_hd.webp";
import ImageLowRes from "@/assets/story/scene6/3_LowRes.webp";
---

<ImagePageLayout
  title="from Scar to Star"
  image={Image}
  imageLowRes={ImageLowRes}
>
  <p
    class="font-italiana absolute top-[8%] left-1/2 w-full -translate-x-1/2 text-center text-4xl text-white"
    style={"text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);"}
  >
    Combine the Star
  </p>
</ImagePageLayout>
