---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import BackgroundImage from "@/assets/story/scene1/01-01.webp";
import ContinueButton from "@/components/ContinueButton/ContinueButton";
import TextBox from "@/components/StoryText/StoryText";
---

<ImagePageLayout title="The Story of the First Image" image={BackgroundImage}>
  <TextBox type="top"
    ><p class="rounded-md border-2 border-black bg-white px-4 py-2">
      ได้เวลากลับบ้านไปพักผ่อนแล้วล่ะ
    </p></TextBox
  >
  <ContinueButton
    delay={0.5}
    redirectUrl="/story/01-02"
    position="right"
    client:load
  />
</ImagePageLayout>
