---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import BackgroundImage from "@/assets/story/scene1/01-03.webp";
import TextBox from "@/components/StoryText/StoryText";
import AnswerComponent from "@/components/Inputs/AnswerComponent";
---

<ImagePageLayout title="The Story of the First Image" image={BackgroundImage}>
  <TextBox type="top"
    ><p class="rounded-md border-2 border-black bg-white px-4 py-2">
      Q : เหมือนจะมีฝนดาวตกเกิดขึ้นนะ คุณจะ...
    </p></TextBox
  >
  <AnswerComponent
    center={true}
    redirectUrl="/story/01-03-02"
    answers={[
      {
        text: "นั่งลงเงียบๆ ชื่นชมความงามและคิดถึงความหมายที่อยู่เบื้องหลัง",
        attribute: "",
      },
      {
        text: "หยิบโทรศัพท์ขึ้นมาถ่ายรูป เพื่อบันทึกและศึกษาข้อมูลเกี่ยวกับมัน",
        attribute: "",
      },
      { text: "รีบโทรหาคนที่คุณรักเพื่อแบ่งปันช่วงเวลานี้", attribute: "" },
      { text: "เดินผ่านไปโดยไม่ได้สนใจอะไรมาก", attribute: "" },
    ]}
    client:load
  />
</ImagePageLayout>
