---
import ImagePageLayout from "@/layouts/ImagePageLayout.astro";
import BackgroundImage from "@/assets/story/scene2/02-07.webp";
import TextBox from "@/components/StoryText/StoryText";
import ContinueButton from "@/components/ContinueButton/ContinueButton";
---

<ImagePageLayout title="from Scar to Star" image={BackgroundImage}>
  <TextBox type="top">
    <p class="rounded-md border-2 border-black bg-white px-4 py-2">Temp text</p>
  </TextBox>
  <ContinueButton
    delay={0.5}
    redirectUrl="/story/02-08"
    position="right"
    color="white"
    client:load
  />
</ImagePageLayout>
