---
import Layout from "./Layout.astro";

import { Image } from "astro:assets";

interface Props {
  title?: string;
  redirectUrl?: string;
  redirectInterval?: number;
  image: ImageMetadata;
  imageLowRes?: ImageMetadata;
  backgroundColor?: string;
}

const {
  title,
  redirectUrl,
  redirectInterval,
  image,
  imageLowRes,
  backgroundColor,
} = Astro.props;
---

<Layout title={title}>
  {imageLowRes && <img src={imageLowRes.src} alt="Preload low-res" hidden />}

  <div
    class="absolute z-10 h-full w-full bg-cover bg-center"
    style={`background-image: url(${imageLowRes ? imageLowRes.src : image.src});`}
  >
    <Image src={image} alt="background" class="h-full w-full object-cover" />
    <slot />
  </div>
</Layout>
