---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import BGM from "@/components/Music/BGM";
interface Props {
  title?: string;
}
const { title = "from Scar to Star" } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body>
    <main
      class="font-italiana relative mx-auto flex h-screen w-full max-w-[430px] overflow-y-auto"
      transition:animate="initial"
    >
      <slot />
    </main>

    <BGM client:only="react" />
  </body>
</html>
