---
import DragScreen from "@/components/DragScreen/DragScreen";
import ImageHd from "@/assets/story/scene2/2กาแลกซี่หาดาวมีดาว_Image_hd.webp";
import Layout from "@/layouts/Layout.astro";
import Preload from "@/assets/story/scene2/2เจอดาว_LowRes.webp";
---

<Layout preloadImages={[Preload]}>
  <div class="scrollbar-none absolute inset-0 overflow-auto">
    <DragScreen redirectUrl="/story/scene2/2-4" ImageHd={ImageHd} client:load>
      {/* TODO: add content here */}
    </DragScreen>
  </div>
  <div class="fixed inset-0 -z-50 bg-black"></div>
</Layout>
